.node {
    position: absolute;
    display: inline-block;
    background-color: #f8f8f8;
    outline: solid 1px #152543;
    font-family: sans-serif;
    font-size: 0.8rem;
    user-select: none;
    cursor: grab;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.node .row {
    display: flex;
}

.node .cell {
    flex: 1;
    border: 1px solid #999;
    padding: 0.3rem;
    text-align: center;
    min-width: 40px;
}

.node .name {
    font-weight: bold;
    background-color: #ddd;
    flex: 3;
}

.point {
    position: absolute;
    padding: 1px;
    transform: translate(-50%, -50%);
    outline: solid 2px crimson;
    border-radius: 50%;
}

.line {
    position: absolute;
    padding: 0;
    border-top: solid black 2px;
    transform-origin: 0 0;
}

