.table {
    display: inline-block;
    border: 2px solid #00ff3c;
    font-family: sans-serif;
}
.row {
    display: flex;
}
.cell {
    border: 1px solid #ff00fb;
    width: 60px;
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table {
    margin: 2rem;
}
.gray {
    background-color: #bbb;
}
.purple {
    background-color: #d3b0e1;
}
.corner {
    position: absolute;
    font-size: 12px;
}
.top-left {
    top: 2px;
    left: 4px;
}
.bottom-right {
    bottom: 2px;
    right: 4px;
}
